/*reset*/
* {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
aside,
nav,
article {
  display: block;
}
body {
  line-height: 1;
  background: #fff;
  font-Family: Verdana, Arial, Helvetica;
  color: #666;
  font-size: 14px;
  line-height: 18px;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 7px #777;
}
nav {
  width: 940px;
  height: 69px;
  margin0: auto;
  background: #1f4677 url("images/blueprintpaper.png") repeat-x;
}
