doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Dota 2
	body
		div(class ="envoltura") <!-- envoltura -->
			nav <!-- Top nav -->
				div(class="menu")
					ul
						li
							a(href="#") Home
						li
							a(href="#") About
						li
							a(href="#") Products
						li
							a(href="#") Services
						li
							a(href="#") Local
						li
							a(href="#") Contact Us
		header <!-- header -->
			div(class="diseño")
				img(src="./public/img/plans.png")
			h1 Aquitectura Web
			p Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.